<section id="contactslist" data-size="{{ size }}">
	<h2>Employee Directory</h2>
	<ul id="employee-list">
		{{#if curadmin}}
		{{#each employee}}
		<li class="row" data-id="{{ employee_id }}" data-db="{{ _id }}">
			<a class="col-sm-12 col-md-6 col-lg-6 js-popup-trigger" href="javascript:;">
				<figure class="contact-avatar">
					{{#if avatar}}
					<img src="{{ avatar }}" alt="{{ first_name }} {{ last_name }} profile photo">
					{{else}}
					<span>&#xf007;</span>
					{{/if}}
				</figure>
				<strong>{{ first_name }} {{ last_name }}</strong>, {{ title }}
			</a>
			<div class="col-sm-12 col-md-6 col-lg-6">
				<div class="btn-group">
					<button type="button" class="btn btn-default" title="Edit">&#xf044;</button>
					<button type="button" class="btn btn-default js-trigger-admin"{{#if admin}} disabled="disabled"{{/if}} title="Make Admin">&#xf0e3;</button>
					<button type="button" class="btn btn-default js-trigger-delete" title="Delete">&#xf014;</button>
				</div>
			</div>
			<address class="address--button-group">
				{{#if street_address}}{{ street_address }} <br>{{/if}}
				{{#if street_address_addtnal}}{{ street_address_addtnal }} <br>{{/if}}
				{{#if city}}{{ city }}, {{/if}}{{#if state}}{{ state }} {{/if}}{{#if zip}}{{ zip }} <br>{{/if}}
				{{ email }}{{#if phone}} <br>
				{{ phone }}{{/if}}
			</address>
		</li>
		{{/each}}
		{{else}}
		{{#each employee}}
		<li class="row" data-id="{{ employee_id }}" data-db="{{ _id }}">
			<a class="col-sm-12 col-md-6 col-lg-6 js-popup-trigger" href="javascript:;">
				<figure class="contact-avatar">
					{{#if avatar}}
					<img src="{{ avatar }}" alt="{{ first_name }} {{ last_name }} profile photo">
					{{else}}
					<span>&#xf007;</span>
					{{/if}}
				</figure>
				<strong>{{ first_name }} {{ last_name }}</strong>, {{ title }}
			</a>
			<address>
				{{#if street_address}}{{ street_address }} <br>{{/if}}
				{{#if street_address_addtnal}}{{ street_address_addtnal }} <br>{{/if}}
				{{#if city}}{{ city }}, {{/if}}{{#if state}}{{ state }} {{/if}}{{#if zip}}{{ zip }} <br>{{/if}}
				{{ email }}{{#if phone}} <br>
				{{ phone }}{{/if}}
			</address>
		</li>
		{{/each}}
		{{/if}}
	</ul>
</section>
