<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/#!employee">Employee Directory</a>
		</div>
		<div class="nav navbar-nav navbar-right">
			<ul class="settings-wrapper">
				<li class="dropdown">
					<button class="dropdown-toggle btn btn-default settings-btn" data-toggle="dropdown" role="button" aria-expanded="false">&#xf013;</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="/#!employee">Change Password</a></li>
						<li><a href="/#!employee">Edit Contacts</a></li>
						<li><a href="/#!employee">Manage Profile</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<form class="navbar-form navbar-right" role="search">
			<div class="form-group">
				<input type="text" name="search" id="search" placeholder="Search" class="form-control">
			</div>
			<input type="submit" name="search-submit" id="search-submit" value="&#xf002;" class="btn btn-default">
		</form>
	</div>
</nav>
<header id="hero">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="page-header">
						{{#if avatar}}
						<figure id="avatar"><img src="{{ avatar }}" alt="user profile photo"></figure>
						{{else}}
						<figure id="avatar"><span>&#xf007;</span></figure>
						{{/if}}
						{{#if first_login}}
						<h1><small>Welcome!</small> <br>{{ first_name }} {{ last_name }}</h1>
						{{else}}
						<h1><small>Welcome Back!</small> <br>{{ first_name }} {{ last_name }}</h1>
						{{/if}}
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<section id="content" class="">
	<div class="container">
		<div class="row" id="wrapper">
			<div class="col-sm-12">
				
			</div>
		</div>
	</div>
</section>
