<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/#!page=employee:id,{{ employee_id }}">Employee Directory</a>
		</div>
		<div class="nav navbar-nav navbar-right">
			<ul class="settings-wrapper">
				<li class="dropdown">
					<button class="dropdown-toggle btn btn-default settings-btn" id="dropdownMenu1" data-toggle="dropdown" role="button"  data-toggle="dropdown" aria-expanded="false">&#xf013;</button>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
						<li><button id="change-pswrd" class="js-modal-trigger" data-toggle="modal" data-target="#myModal">Change Password</button></li>
						<li><button id="update-profile" class="js-modal-trigger" data-toggle="modal" data-target="#myModal">Change Avatar</button></li>
						<li><button id="loggout" class="js-trigger">Log Out</button></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
<header id="hero">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="page-header">
						{{#if avatar}}
						<figure id="avatar"><img src="{{ avatar }}" alt="user profile photo"></figure>
						{{else}}
						<figure id="avatar"><span>&#xf007;</span></figure>
						{{/if}}
						<h1>{{ first_name }} {{ last_name }} <br> <small>{{ title }}</small></h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<section id="content" class="usr-profile" data-id="{{ _id }}" data-admin="{{ admin }}">
	<div class="container">
 		{{#if admin}}
		<div class="row">
			<div class="col-sm-12">
				<div id="employee-add"><button class="btn btn-primary js-modal-trigger" data-toggle="modal" data-target="#myModal">Add Employee</button></div>
			</div>
		</div>
		{{/if}}
		<div class="row" id="wrapper">
			<div class="col-sm-12">

			</div>
		</div>
	</div>
</section>
